@{
  TempData.Keep();
  string? currentPage =  ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo me-1">@await Html.PartialAsync("../_Partials/_Macros")</span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Starter Kit menu-items *@
  <ul class="menu-inner py-1">
    <li class='menu-item@(currentPage.EndsWith("/") ? " active" : "")'>
      <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="menu-link">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.EndsWith("/") ? " active open " : "")'>
      <a asp-area="Admin" asp-controller="Services"  class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-store-3-line"></i>
        <div data-i18n="Services">Services</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage == "/Services/ServiceList" ? " active" : "")'>
          <a asp-controller="Services" asp-action="ServiceList" class="menu-link">
            <div data-i18n='Service List'>Service List</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Services/ServiceAdd" ? " active" : "")'>
          <a asp-controller="Services" asp-action="ServiceAdd" class="menu-link">
            <div data-i18n='Add Service'>Add Service</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Services/ServiceCategoryList" ? " active" : "")'>
          <a asp-controller="Services" asp-action="ServiceCategoryList" class="menu-link">
            <div data-i18n='Category List'>Category List</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.EndsWith("/") ? " active open " : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
        <i class="menu-icon tf-icons ri-survey-line"></i>
        <div data-i18n='Order'>Order</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage == "/Orders/OrderList" ? " active" : "")'>
          <a asp-controller="Orders" asp-action="OrderList" class="menu-link">
            <div data-i18n='Order List'>Order List</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Orders/OrderDetails" ? " active" : "")'>
          <a asp-controller="Orders" asp-action="OrderDetails" class="menu-link">
            <div data-i18n='Order Details'>Order Details</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.EndsWith("/") ? " active open " : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
        <i class="menu-icon tf-icons ri-group-line"></i>
        <div data-i18n='Customer'>Customer</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage == "/Customers/CustomerAll" ? " active" : "")'>
          <a asp-controller='Customers' asp-action="CustomerAll" class="menu-link">
            <div data-i18n='All Customers'>All Customers</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Customers/CustomerDetails") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Customer Details">Customer Details</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Customers/CustomerDetailsOverview" ? " active" : "")'>
              <a asp-controller="Customers" asp-action="CustomerDetailsOverview" class="menu-link">
                <div data-i18n="Overview">Overview</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Customers/CustomerDetailsSecurity" ? " active" : "")'>
              <a asp-controller="Customers" asp-action="CustomerDetailsSecurity" class="menu-link">
                <div data-i18n="Security">Security</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Customers/CustomerDetailsBilling" ? " active" : "")'>
              <a asp-controller="Customers" asp-action="CustomerDetailsBilling" class="menu-link">
                <div data-i18n="Address & Billing">Address & Billing</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Customers/CustomerDetailsNotifications" ? " active" : "")'>
              <a asp-controller="Customers" asp-action="CustomerDetailsNotifications" class="menu-link">
                <div data-i18n="Notifications">Notifications</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.EndsWith("/") ? " active open" : "")'>
      <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="menu-link">
        <i class="menu-icon tf-icons ri-file-chart-line"></i>
        <div data-i18n="Reports">Reports</div>
      </a>
    </li>
  </ul>

</aside>
<!-- / Menu -->
